.admin-container {
  padding: 2rem;
  h2 {
    margin-bottom: 1.5rem;
  }
  .tasks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


  .user-card {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: #f9f9f9;

    h3 {
      margin-bottom: 0.5rem;
    }

    .tasks {
      display: flex;
      gap: 2rem;

      div {
        flex: 1;
        background: #fff;
        padding: 1rem;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        h4 {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          text-decoration: underline;
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
