<app-header></app-header>

<div class="admin-container">
  <h2>User Management</h2>

  <div *ngFor="let user of users()" class="user-card">
    <h3>{{ user.name }} ({{ user.roles }})</h3>

    <div class="tasks">

      <!-- TODO -->
      <div>
        <h4>To Do</h4>
        <ul>
          <li *ngFor="let task of getTasks(user.id, 'todo'); trackBy: trackById">
            <div class="task-card" [ngClass]="task.priority.toLowerCase() + '-priority'">
              <h3>{{ task.title }}</h3>
              <small>Board: {{ task.boardName }}</small>
              <br>
              <select [(ngModel)]="task.priority" (ngModelChange)="updateTaskPriority(task.id, $event)">
                <option *ngFor="let p of priorities()" [value]="p">{{ p }}</option>
              </select>
              <br>
              <button (click)="markInProgress(task.id)">Move to In Progress</button>
            </div>
          </li>
        </ul>
      </div>

      <!-- IN PROGRESS -->
      <div>
        <h4>In Progress</h4>
        <ul>
          <li *ngFor="let task of getTasks(user.id, 'in-progress'); trackBy: trackById">
            <div class="task-card" [ngClass]="task.priority.toLowerCase() + '-priority'">
              <h3>{{ task.title }}</h3>
              <small>Board: {{ task.boardName }}</small>
              <br>
              <select [(ngModel)]="task.priority" (ngModelChange)="updateTaskPriority(task.id, $event)">
                <option *ngFor="let p of priorities()" [value]="p">{{ p }}</option>
              </select>
              <br>
              <button (click)="markAsDone(task.id)">Mark Done</button>
            </div>
          </li>
        </ul>
      </div>

      <!-- DONE -->
      <div>
        <h4>Done</h4>
        <ul>
          <li *ngFor="let task of getTasks(user.id, 'done'); trackBy: trackById">
            <div class="task-card" [ngClass]="task.priority.toLowerCase() + '-priority'">
              <h3>{{ task.title }}</h3>
              <small>Board: {{ task.boardName }}</small>
              <br>
              <button (click)="markInProgressfromDone(task.id)">Move to In Progress</button>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
