.board-list-container {
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  .boards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .board-card {
      background: #f1f1f1;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 200px;
      text-align: center;
      transition: 0.2s all;

      &:hover {
        background: #e0e0e0;
        transform: scale(1.05);
      }

      h3 {
        margin-bottom: 0.5rem;
      }
    }
  }
}
