<app-header></app-header>

<!-- <div class="boards-container">
  <h2>Boards</h2>
  <ul>
    <li *ngFor="let board of boards()">
      <a [routerLink]="['/boards', board.id]">{{ board.title }}</a>
    </li>
  </ul>
</div> -->

<div class="board-list-container">
  <h2>Your Boards</h2>
  <div class="boards">
    <div class="board-card" *ngFor="let board of boards()" (click)="openBoard(board)">
      <h3>{{ board?.title }}</h3>
      <p>{{ board.lists.length }} lists</p>
      <p>Created at: {{ board.createdAt | date:'medium' }}</p>
    </div>
  </div>
</div>
