.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-footer {
  flex-shrink: 0;
  width: 100%;
}
